In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('CardioGoodFitness.csv')
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

**Data** **Selection**

In [ ]:
df['Product']
type(df['Product'])

pandas.core.series.Series

In [ ]:
df[['Age' , 'MaritalStatus']]

     Age MaritalStatus
0     18        Single
1     19        Single
2     19     Partnered
3     19        Single
4     20     Partnered
..   ...           ...
175   40        Single
176   42        Single
177   45        Single
178   47     Partnered
179   48     Partnered

[180 rows x 2 columns]

In [ ]:
df.iloc[0]

Product           TM195
Age                  18
Gender             Male
Education            14
MaritalStatus    Single
Usage                 3
Fitness               4
Income            29562
Miles               112
Name: 0, dtype: object

In [ ]:
df.isnull()

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
175,False,False,False,False,False,False,False,False,False
176,False,False,False,False,False,False,False,False,False
177,False,False,False,False,False,False,False,False,False
178,False,False,False,False,False,False,False,False,False
179,False,False,False,False,False,False,False,False,False

In [ ]:
  df.isnull().sum()

Product          0
Age              0
Gender           0
Education        0
MaritalStatus    0
Usage            0
Fitness          0
Income           0
Miles            0
dtype: int64

In [ ]:
df.rename(columns={'MaritalStatus':'single or married'})

,Product,Age,Gender,Education,single or married,Usage,Fitness,Income,Miles
0,TM195,18,Male,14,Single,3,4,29562,112
1,TM195,19,Male,15,Single,2,3,31836,75
2,TM195,19,Female,14,Partnered,4,3,30699,66
3,TM195,19,Male,12,Single,3,3,32973,85
4,TM195,20,Male,13,Partnered,4,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,TM798,40,Male,21,Single,6,5,83416,200
176,TM798,42,Male,18,Single,5,4,89641,200
177,TM798,45,Male,16,Single,5,5,90886,160
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180

In [ ]:
df.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

In [ ]:
df['Age'] = df['Age'].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    object
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(5), object(4)
memory usage: 12.8+ KB

In [ ]:
df

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,TM195,18.0,Male,14,Single,3,4,29562,112
1,TM195,19.0,Male,15,Single,2,3,31836,75
2,TM195,19.0,Female,14,Partnered,4,3,30699,66
3,TM195,19.0,Male,12,Single,3,3,32973,85
4,TM195,20.0,Male,13,Partnered,4,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,TM798,40.0,Male,21,Single,6,5,83416,200
176,TM798,42.0,Male,18,Single,5,4,89641,200
177,TM798,45.0,Male,16,Single,5,5,90886,160
178,TM798,47.0,Male,18,Partnered,4,5,104581,120
179,TM798,48.0,Male,18,Partnered,4,5,95508,180

In [ ]:
len(df)

180

In [ ]:
df['Cure'] = [0 for i in range(len(df))]

In [ ]:
df.head()

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles,Cure
0,TM195,18.0,Male,14,Single,3,4,29562,112,0
1,TM195,19.0,Male,15,Single,2,3,31836,75,0
2,TM195,19.0,Female,14,Partnered,4,3,30699,66,0
3,TM195,19.0,Male,12,Single,3,3,32973,85,0
4,TM195,20.0,Male,13,Partnered,4,2,35247,47,0

In [ ]:
from ast import AsyncFunctionDef
def fx(a):
  return a *a
df['Cure'] = df['Education'].apply(fx)

In [ ]:
df

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles,Cure
0,TM195,18.0,Male,14,Single,3,4,29562,112,196
1,TM195,19.0,Male,15,Single,2,3,31836,75,225
2,TM195,19.0,Female,14,Partnered,4,3,30699,66,196
3,TM195,19.0,Male,12,Single,3,3,32973,85,144
4,TM195,20.0,Male,13,Partnered,4,2,35247,47,169
...,...,...,...,...,...,...,...,...,...,...
175,TM798,40.0,Male,21,Single,6,5,83416,200,441
176,TM798,42.0,Male,18,Single,5,4,89641,200,324
177,TM798,45.0,Male,16,Single,5,5,90886,160,256
178,TM798,47.0,Male,18,Partnered,4,5,104581,120,324
179,TM798,48.0,Male,18,Partnered,4,5,95508,180,324

In [ ]:
df1 = pd.read_csv('Bank_Dataset.csv')
df1.head()

,CustomerID,Name,Age,Gender,Location,AccountType,AccountBalance,LoanStatus,LoanAmount,TransactionType,TransactionAmount,TransactionDate
0,1,Max Mckee,19,Male,New York,Checking,88444,Pending,27839,Withdrawal,495,2024-12-28
1,2,Jacob Williams,47,Male,Chicago,Fixed Deposit,31346,Repaid,9702,Deposit,432,2024-05-02
2,3,William Peterson,52,Female,Atlanta,Checking,12889,Pending,18864,Withdrawal,4755,2025-02-24
3,4,David Vargas,59,Male,Houston,Checking,88062,Pending,29620,Withdrawal,1422,2024-06-05
4,5,Deanna Rogers,70,Male,Atlanta,Fixed Deposit,9467,Repaid,1144,Deposit,3890,2024-12-07

In [ ]:
df1.describe()

       CustomerID         Age  AccountBalance    LoanAmount  TransactionAmount
count    800.0000  800.000000      800.000000    800.000000         800.000000
mean     400.5000   44.460000    52262.100000  22682.966250        2596.035000
std      231.0844   15.153727    28639.609089  13718.337098        1402.722669
min        1.0000   18.000000      508.000000    636.000000         100.000000
25%      200.7500   32.000000    28240.750000  10849.000000        1420.750000
50%      400.5000   45.000000    53861.000000  21814.000000        2670.000000
75%      600.2500   58.000000    77572.000000  32923.250000        3736.250000
max      800.0000   70.000000    99963.000000  49826.000000        4992.000000

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         800 non-null    int64
 1   Name               800 non-null    object
 2   Age                800 non-null    int64
 3   Gender             800 non-null    object
 4   Location           800 non-null    object
 5   AccountType        800 non-null    object
 6   AccountBalance     800 non-null    int64
 7   LoanStatus         800 non-null    object
 8   LoanAmount         800 non-null    int64
 9   TransactionType    800 non-null    object
 10  TransactionAmount  800 non-null    int64
 11  TransactionDate    800 non-null    object
dtypes: int64(5), object(7)
memory usage: 75.1+ KB

In [ ]:
df1.isnull().sum()

CustomerID           0
Name                 0
Age                  0
Gender               0
Location             0
AccountType          0
AccountBalance       0
LoanStatus           0
LoanAmount           0
TransactionType      0
TransactionAmount    0
TransactionDate      0
dtype: int64

In [ ]:
df1['TransactionType'].value_counts().idxmax()

'Withdrawal'

In [ ]:
df1['AccountType'].value_counts()

AccountType
Savings          215
Fixed Deposit    207
Business         190
Checking         188
Name: count, dtype: int64

In [ ]:
df1['Age'].value_counts()

Age
37    26
65    25
48    23
34    21
68    21
39    20
62    20
59    20
41    19
49    19
30    18
45    18
25    17
69    17
52    17
33    16
53    16
36    16
26    16
46    16
27    16
55    16
24    15
58    15
60    15
56    14
29    14
22    14
57    14
31    14
70    14
21    14
18    13
20    13
54    13
42    13
67    13
44    13
38    13
35    12
64    12
51    12
28    12
23    12
66    12
61    11
19    11
40    11
43    10
32    10
50    10
47     9
63     9
Name: count, dtype: int64

In [ ]:
df1['AccountBalance'].value_counts()

AccountBalance
42780    2
82107    2
13322    2
27816    2
54204    2
        ..
84573    1
75780    1
5776     1
75145    1
25337    1
Name: count, Length: 795, dtype: int64

In [ ]:
df1['AccountBalance'].mean()

np.float64(52262.1)

In [ ]:
df1[['Age', 'AccountBalance']]

     Age  AccountBalance
0     19           88444
1     47           31346
2     52           12889
3     59           88062
4     70            9467
..   ...             ...
795   32           94719
796   34           80645
797   46           18927
798   37            3971
799   30           51267

[800 rows x 2 columns]

In [ ]:
df1[['Age', 'AccountBalance']].mean()

Age                  44.46
AccountBalance    52262.10
dtype: float64